:root {

  --pink: #ed1b76;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.background {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.main {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.soldierWrapper, .soldierWrapper2 {
  height: 400px;
  position: relative;
  width: 150px;
}

.soldierWrapper img {
  height: 100%;
  object-fit: cover;
  object-position: -156px 0;
  width: 100%;
}

.soldierWrapper2 img {
  height: 100%;
  object-fit: cover;
  object-position: -311px 0;
  width: 100%;
}

.shadow {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 100px;
  bottom: -10px;
  filter: blur(20px);
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.logo {
  margin-bottom: 20px;
  width: 75%;
}

.loginForm {
  align-items: center;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 40px;
  padding: 30px 10px;
  width: 300px;
}

.loginForm button {
  background-color: #037a76;
  border: 0;
  border-radius: 10px;
  bottom: 0;
  color: white;
  font-weight: 700;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
  width: 75%;
}


.loginForm button:hover {
  bottom: 3px;
  cursor: pointer;
}

.loginForm button:disabled {
  background-color: #81b9b8;
  bottom: 0;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
  transition: none;
}

.loginForm .inputs {
  margin-bottom: 12px;
  width: 75%;
}

.loginForm input {
  background-color: var(--pink);
  border: 0;
  border-radius: 10px;
  color: black;
  margin-bottom: 8px;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
}

.loginForm input::placeholder {
  color: black;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--pink) inset;
  color: black;
}

.config {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: var(--pink);
  border: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 36px;
}

.config svg {
  color: white;
}
