.question {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question h1 {
  margin-bottom: 24px;
  text-align: center;
}

.question p {
  margin-bottom: 18px;
}
